@charset "UTF-8";
* {
  box-sizing: border-box; }

header {
  background-color: #f2f2f2;
  height: 57px;
  width: 100%;
  overflow: hidden; }

.wrap {
  overflow: hidden; }
  .wrap > .container.box-layout {
    padding: 20px 15px; }
  .wrap .content {
    min-height: 500px; }

.box-layout {
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2); }

.navigation {
  position: relative; }
  .navigation.isStuck {
    z-index: 1000;
    top: 0px; }
    .navigation.isStuck .container {
      position: absolute;
      -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.2); }
  .navigation .container {
    background-color: #adc846; }
    .navigation .container:before, .navigation .container:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 70px;
      background: #adc846 url("/img/left-shadow.png") right top no-repeat;
      margin-left: -100%;
      z-index: -1; }
    .navigation .container:after {
      left: auto;
      right: 0;
      background: #adc846 url("/img/right-shadow.png") left top no-repeat;
      margin-left: 0;
      margin-right: -100%; }
  .navigation .navbar {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    border-radius: none; }
    .navigation .navbar .navbar-nav.nav {
      padding-left: 15px; }
      .navigation .navbar .navbar-nav.nav li a {
        font-size: 24px;
        color: #fff;
        line-height: 40px;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s; }
        .navigation .navbar .navbar-nav.nav li a:hover, .navigation .navbar .navbar-nav.nav li a:focus {
          background-color: #fdae1b; }
          .navigation .navbar .navbar-nav.nav li a:hover:after, .navigation .navbar .navbar-nav.nav li a:focus:after {
            top: -11px;
            opacity: 1;
            visibility: visible; }
        .navigation .navbar .navbar-nav.nav li a:after {
          content: "\f0d7";
          font-size: 20px;
          line-height: 28px;
          font-family: 'FontAwesome';
          color: #fff;
          margin: 0 0 0 -10px;
          position: absolute;
          left: 50%;
          top: -22px;
          opacity: 0;
          width: 20px;
          visibility: hidden;
          -moz-transition: background-color 0.5s;
          -o-transition: background-color 0.5s;
          -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s; }
      .navigation .navbar .navbar-nav.nav li.active a {
        background-color: #fdae1b; }
        .navigation .navbar .navbar-nav.nav li.active a:after {
          top: -11px;
          opacity: 1;
          visibility: visible; }

.navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-toggle {
  border-color: #fff; }

.good {
  margin-bottom: 25px;
  padding: 0 !important; }
  .good .insideBlock {
    margin: 0 auto;
    padding: 20px 20px 50px;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #fff; }
    .good .insideBlock.discount:after {
      content: "скидка";
      font-size: 0px;
      width: 82px;
      height: 76px;
      display: block;
      position: absolute;
      z-index: 20;
      right: -33px;
      top: -8px;
      background: url("/img/discount.png") no-repeat center center; }
    .good .insideBlock:hover {
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
    .good .insideBlock img.good-preview {
      background: url("/img/no_photo.png") no-repeat center center;
      width: 200px;
      min-height: 200px;
      margin: 0 auto;
      display: block;
      cursor: pointer; }
    .good .insideBlock .description {
      display: none; }
    .good .insideBlock .good-name {
      width: 100%;
      max-width: 200px;
      position: relative;
      display: block; }
    .good .insideBlock .price, .good .insideBlock .discount {
      display: block;
      text-align: center;
      margin: 10px auto;
      font-size: 16px;
      color: #000; }
      .good .insideBlock .price strong, .good .insideBlock .discount strong {
        color: #17a6f5; }
    .good .insideBlock .discount {
      color: #000; }
      .good .insideBlock .discount strong {
        color: #adc846;
        font-size: 130%; }
    .good .insideBlock .buy {
      position: absolute;
      text-align: center;
      bottom: 10px;
      left: 10px;
      z-index: 101; }
    .good .insideBlock .counter {
      position: absolute;
      right: 40px;
      bottom: 10px; }
    .good .insideBlock .quantity-controls {
      position: absolute;
      right: 10px;
      bottom: 10px; }
      .good .insideBlock .quantity-controls i {
        position: relative;
        left: 0;
        top: 5px;
        display: block;
        cursor: pointer;
        margin-bottom: 5px;
        padding: 3px 6px;
        height: 20px;
        font-size: 12px;
        color: #777777;
        vertical-align: middle;
        background-color: #fbfbfb;
        background-image: none;
        border: 1px solid #d6d4d4; }

.counter, .good .insideBlock .counter {
  width: 75px;
  line-height: 20px;
  padding: 0 12px;
  height: 45px;
  display: inline-block;
  text-align: center; }

.quantity-controls i, .good .insideBlock .quantity-controls i {
  position: relative;
  left: 0;
  top: 5px;
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 3px 6px;
  height: 20px;
  width: 24px;
  font-size: 12px;
  color: #777777;
  vertical-align: middle;
  background-color: #fbfbfb;
  background-image: none;
  border: 1px solid #d6d4d4; }

.top-block {
  margin: 20px auto; }

a.addtocart-button {
  background: #adc846;
  width: auto;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 6px 30px;
  border-radius: 0;
  position: relative;
  border: 0; }
  a.addtocart-button > span:before, .navigation a.addtocart-button > span.container:after {
    color: #fff;
    font-style: normal;
    content: "\f07a ";
    font-size: 31px;
    line-height: 32px;
    font-family: FontAwesome;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 0px; }
  a.addtocart-button > span span {
    text-indent: -9999px;
    display: none !important; }

.basket-view .table td {
  position: relative; }
  .basket-view .table td span.quantity-controls {
    position: absolute;
    top: 4px;
    left: 88px; }
  .basket-view .table td .delete {
    width: 40px;
    height: 40px;
    font-size: 0px;
    display: block;
    float: right;
    background: url("/img/delete_Icon.png") no-repeat center center;
    background-size: 100%;
    cursor: pointer; }

.pagination {
  width: 100%;
  overflow: hidden; }
  .pagination a {
    display: block;
    float: left;
    margin-left: 5px; }
    .pagination a span {
      display: block;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      padding: 5px; }

.side-menu {
  list-style-type: none;
  margin-left: -15px;
  border: 1px solid #d0cfcf; }
  .side-menu.isStuck {
    top: 100px !important; }
  .side-menu li {
    border-top: 1px solid #d0cfcf; }
    .side-menu li a {
      color: #414141;
      padding: 15px 20px;
      display: block;
      font-size: 18px;
      text-decoration: none; }
      .side-menu li a:before, .side-menu li .navigation a.container:after, .navigation .side-menu li a.container:after {
        content: "\f111";
        font-size: 8px;
        line-height: 24px;
        font-family: 'FontAwesome';
        color: #adc846;
        margin-right: 10px;
        position: relative;
        top: -2px;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
      .side-menu li a:hover, .side-menu li a:focus {
        color: #adc846; }
        .side-menu li a:hover:before, .side-menu li .navigation a.container:hover:after, .navigation .side-menu li a.container:hover:after, .side-menu li a:focus:before, .side-menu li .navigation a.container:focus:after, .navigation .side-menu li a.container:focus:after {
          color: #414141; }
    .side-menu li.active a {
      color: #adc846; }
      .side-menu li.active a:before, .side-menu li.active .navigation a.container:after, .navigation .side-menu li.active a.container:after {
        color: #414141; }
    .side-menu li.all {
      background-color: #414141; }
      .side-menu li.all a {
        color: #fff;
        text-transform: uppercase; }
        .side-menu li.all a:before, .side-menu li.all .navigation a.container:after, .navigation .side-menu li.all a.container:after {
          display: none; }

.blockGoods {
  width: 100%;
  clear: both;
  margin-top: 50px; }

.basket {
  font-size: 19px;
  margin-top: 20px;
  margin-left: 35px;
  position: relative; }
  .basket:before, .navigation .basket.container:after {
    font-family: 'FontAwesome';
    content: "\f07a";
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #a0bb33;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 6px;
    position: relative;
    top: 0px; }
  .basket .cart_num {
    position: relative; }
    .basket .cart_num .delete {
      font-size: 0;
      background: url("/img/delete_Icon.png") center center no-repeat;
      background-size: 100%;
      display: block;
      float: right;
      width: 35px;
      height: 35px;
      margin-left: 10px;
      cursor: pointer; }
    .basket .cart_num a {
      text-decoration: none;
      color: #17a6f5; }

.phone {
  margin-top: 15px;
  position: relative; }
  .phone:before, .navigation .phone.container:after {
    font-family: 'FontAwesome';
    content: "\f095";
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fa9717;
    font-size: 25px;
    margin-right: 6px;
    margin-left: 6px;
    position: relative;
    top: 0px; }
  .phone .phone-number {
    font-size: 18px;
    line-height: 36px;
    color: #adc846;
    font-weight: bold; }

.logo img {
  width: 100%; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #17a6f5;
  border-color: #17a6f5; }

.makeBuy > a {
  background-color: #adc846;
  color: #fff;
  padding: 20px 10px;
  display: block;
  text-decoration: none; }
  .makeBuy > a:hover {
    background-color: #17a6f5; }

#map {
  height: 350px; }

.camera_wrap {
  margin: 30px 0px; }
  .camera_wrap .camera_pag .camera_pag_ul {
    width: 30%; }
  .camera_wrap .camera_caption {
    height: 100%; }
    .camera_wrap .camera_caption > div {
      height: 100%;
      padding: 0;
      background: none; }
      .camera_wrap .camera_caption > div .camera_caption_desc {
        padding: 40px;
        text-align: left;
        float: right;
        height: 100%;
        width: 35%;
        background: #fa9617;
        background: rgba(250, 150, 23, 0.89); }
  .camera_wrap .cameracurrent:hover .txt3 {
    color: #414141;
    text-decoration: underline; }
  .camera_wrap .camera_link {
    position: relative;
    z-index: 1111;
    float: right;
    width: 35%; }

.newGoods .row .owl-stage-outer {
  padding-top: 20px; }

.newGoods .row .good .insideBlock {
  width: 240px;
  height: 390px;
  z-index: 1000; }

.owl-controls {
  width: 100%;
  position: absolute;
  top: -30px; }
  .owl-controls .owl-prev, .owl-controls .owl-next {
    width: 38px;
    height: 38px;
    background: #fff;
    position: absolute;
    right: auto;
    right: 56px;
    top: 0;
    margin-top: 0px;
    opacity: 1 !important;
    z-index: 111;
    border: 1px solid #ededed;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-size: 0px; }
    .owl-controls .owl-prev:hover:before, .owl-controls .navigation .owl-prev.container:hover:after, .navigation .owl-controls .owl-prev.container:hover:after, .navigation .owl-controls .container.owl-next:hover:after, .owl-controls .navigation .container.owl-next:hover:after, .owl-controls .owl-next:hover:before {
      color: #fdae1b; }
    .owl-controls .owl-prev:before, .owl-controls .navigation .owl-prev.container:after, .navigation .owl-controls .owl-prev.container:after, .navigation .owl-controls .container.owl-next:after, .owl-controls .navigation .container.owl-next:after, .owl-controls .owl-next:before {
      color: #babcbf;
      font-style: normal;
      content: "\f053";
      font-size: 15px;
      line-height: 38px;
      font-family: FontAwesome;
      position: absolute;
      right: 50%;
      top: 0px;
      margin-right: -4px;
      text-align: center;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  .owl-controls .owl-next {
    right: 15px;
    left: auto; }
    .owl-controls .owl-next:before, .owl-controls .navigation .owl-next.container:after, .navigation .owl-controls .owl-next.container:after {
      content: "\f054"; }

@media only screen and (max-width: 768px) {
  .navigation .container:after,
  .navigation .container:before, .navigation .container:after {
    display: none; } }

@media only screen and (max-width: 478px) {
  .camera_wrap {
    display: none !important; } }
