* {
  box-sizing: border-box; }

header {
  background-color: #f2f2f2;
  height: 57px;
  width: 100%;
  overflow: hidden; }

.wrap {
  overflow: hidden; }
  .wrap > .container.box-layout {
    padding: 20px 15px; }
  .wrap .content {
    min-height: 500px; }

.box-layout {
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2); }

.navigation {
  position: relative; }
  .navigation.isStuck {
    z-index: 1000;
    top: 0px; }
    .navigation.isStuck .container {
      position: absolute;
      -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.2); }
  .navigation .container {
    background-color: #adc846; }
    .navigation .container:before, .navigation .container:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 70px;
      background: #adc846 url("/img/left-shadow.png") right top no-repeat;
      margin-left: -100%;
      z-index: -1; }
    .navigation .container:after {
      left: auto;
      right: 0;
      background: #adc846 url("/img/right-shadow.png") left top no-repeat;
      margin-left: 0;
      margin-right: -100%; }
  .navigation .navbar {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    border-radius: none; }
    .navigation .navbar .navbar-nav.nav {
      padding-left: 15px; }
      .navigation .navbar .navbar-nav.nav li a {
        font-size: 24px;
        color: #fff;
        line-height: 40px;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s; }
        .navigation .navbar .navbar-nav.nav li a:hover, .navigation .navbar .navbar-nav.nav li a:focus {
          background-color: #fdae1b; }
          .navigation .navbar .navbar-nav.nav li a:hover:after, .navigation .navbar .navbar-nav.nav li a:focus:after {
            top: -11px;
            opacity: 1;
            visibility: visible; }
        .navigation .navbar .navbar-nav.nav li a:after {
          content: "\f0d7";
          font-size: 20px;
          line-height: 28px;
          font-family: 'FontAwesome';
          color: #fff;
          margin: 0 0 0 -10px;
          position: absolute;
          left: 50%;
          top: -22px;
          opacity: 0;
          width: 20px;
          visibility: hidden;
          -moz-transition: background-color 0.5s;
          -o-transition: background-color 0.5s;
          -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s; }
      .navigation .navbar .navbar-nav.nav li.active a {
        background-color: #fdae1b; }
        .navigation .navbar .navbar-nav.nav li.active a:after {
          top: -11px;
          opacity: 1;
          visibility: visible; }

.navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-toggle {
  border-color: #fff; }

.good {
  margin-bottom: 25px;
  padding: 0 !important; }
  .good .insideBlock {
    margin: 0 auto;
    padding: 20px 20px 40px;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    position: relative; }
    .good .insideBlock:hover {
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
    .good .insideBlock img.good-preview {
      background: url("/img/no_photo.png") no-repeat center center;
      min-width: 200px;
      min-height: 200px;
      margin: 0 auto;
      display: block;
      cursor: pointer; }
    .good .insideBlock .description {
      display: none; }
    .good .insideBlock .good-name {
      width: 100%;
      position: relative;
      display: block; }
    .good .insideBlock .price {
      display: block;
      text-align: center;
      margin: 10px auto;
      font-size: 16px;
      color: #ccc; }
      .good .insideBlock .price strong {
        color: #17a6f5; }
    .good .insideBlock .buy {
      position: absolute;
      width: 100px;
      text-align: center;
      margin-left: -50px;
      bottom: 10px;
      left: 50%; }
      .good .insideBlock .buy + input {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 40px; }

.pagination {
  width: 100%;
  overflow: hidden; }
  .pagination a {
    display: block;
    float: left;
    margin-left: 5px; }
    .pagination a span {
      display: block;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      padding: 5px; }

.side-menu {
  list-style-type: none;
  margin-left: -15px;
  border: 1px solid #d0cfcf; }
  .side-menu.isStuck {
    top: 100px !important; }
  .side-menu li {
    border-top: 1px solid #d0cfcf; }
    .side-menu li a {
      color: #414141;
      padding: 15px 20px;
      display: block;
      font-size: 18px;
      text-decoration: none; }
      .side-menu li a:before, .side-menu li .navigation a.container:after, .navigation .side-menu li a.container:after {
        content: "\f111";
        font-size: 8px;
        line-height: 24px;
        font-family: 'FontAwesome';
        color: #adc846;
        margin-right: 10px;
        position: relative;
        top: -2px;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
      .side-menu li a:hover, .side-menu li a:focus {
        color: #adc846; }
        .side-menu li a:hover:before, .side-menu li .navigation a.container:hover:after, .navigation .side-menu li a.container:hover:after, .side-menu li a:focus:before, .side-menu li .navigation a.container:focus:after, .navigation .side-menu li a.container:focus:after {
          color: #414141; }

.blockGoods {
  width: 100%;
  clear: both;
  margin-top: 50px; }

.basket {
  font-size: 19px;
  margin-top: 20px;
  margin-left: 35px;
  position: relative; }
  .basket:before, .navigation .basket.container:after {
    font-family: 'FontAwesome';
    content: "\f07a";
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #a0bb33;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 6px;
    position: relative;
    top: 0px; }
  .basket .cart_num a {
    text-decoration: none;
    color: #17a6f5; }

.phone {
  margin-top: 15px;
  position: relative; }
  .phone:before, .navigation .phone.container:after {
    font-family: 'FontAwesome';
    content: "\f095";
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fa9717;
    font-size: 25px;
    margin-right: 6px;
    margin-left: 6px;
    position: relative;
    top: 0px; }
  .phone .phone-number {
    font-size: 18px;
    line-height: 36px;
    color: #adc846;
    font-weight: bold; }

.logo img {
  width: 100%; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #17a6f5;
  border-color: #17a6f5; }

@media only screen and (max-width: 768px) {
  .navigation .container:after,
  .navigation .container:before, .navigation .container:after {
    display: none; } }
