$colorBlack: #414141;
$colorGray: #f2f2f2;
$colorMain: #fff;
$colorBorder: #d0cfcf;
$colorGreen: #adc846;
$colorOrange: #fdae1b;
$colorBlue: #17a6f5;
$widthGood: 230px;
$heightGood: 330px;
$priceFontSize: 16px;
$priceColor: #17a6f5;
$heightMenu: 70px;
$shadow: 0 0 45px rgba(0, 0, 0, 0.2);

*{
    box-sizing: border-box;
}

@mixin border-radius($radius...){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  border-radius:         $radius;
}
@mixin box-shadow($data...){
    -webkit-box-shadow: $data;
    -moz-box-shadow:    $data;
    -ms-box-shadow:     $data;
    box-shadow:         $data;
}
@mixin transition($transition...){
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

header {
    background-color: $colorGray;
    height: 57px;
    width: 100%;
    overflow: hidden;
}

.wrap {
    overflow: hidden;
    > .container.box-layout {
        padding: 20px 15px;
        margin-bottom: 95px;
    }
    .content {
        min-height: 500px;
    }
}
.box-layout {
    @include box-shadow($shadow);
}
.navigation {
    position: relative;
    &.isStuck {
        z-index: 1000;
        top: 0px;
        .container {
            position: absolute;
            @include box-shadow($shadow);
        }
    }
    .container {
        background-color: $colorGreen;
        &:before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: $heightMenu;
            background: $colorGreen url('/img/left-shadow.png') right top no-repeat;
            margin-left: -100%;
            z-index: -1;
        }
        &:after {
            @extend &:before;
            left: auto;
            right: 0;
            background:  $colorGreen url('/img/right-shadow.png') left top no-repeat;
            margin-left: 0;
            margin-right: -100%;
        }
    }
    .navbar {
        margin: 0;
        padding: 0;
        border: 0;
        @include border-radius(none);
        .navbar-nav.nav{
            padding-left: 15px;
            li {
                a {
                    font-size: 24px;
                    color: #fff;
                    line-height: 40px;
                    @include transition(background-color .5s);
                    &:hover, &:focus{
                        background-color: $colorOrange;
                        &:after {
                            top: -11px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    &:after {
                        content: "\f0d7";
                        font-size: 20px;
                        line-height: 28px;
                        font-family: 'FontAwesome';
                        color: #fff;
                        margin: 0 0 0 -10px;
                        position: absolute;
                        left: 50%;
                        top: -22px;
                        opacity: 0;
                        width: 20px;
                        visibility: hidden;
                        @include transition(background-color .5s);
                    }
                }
                &.active {
                    a {
                        background-color: $colorOrange;
                        &:after {
                            top: -11px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    border-color: #fff;
}

.good {
       margin-bottom: 25px;
       padding: 0 !important;
      .insideBlock {
        &.discount{
            &:after{
                content: "скидка";
                font-size: 0px;
                width: 82px;
                height: 76px;
                display: block;
                position: absolute;
                z-index: 20;
                right: -33px;
                top: -8px;
                background: url('/img/discount.png') no-repeat center center;
            }
        }
        //width: $widthGood;
        // height: $heightGood;
        // overflow: hidden;
        margin: 0 auto;
        padding: 20px 20px 50px;
        @include box-shadow($shadow);
        position: relative;
        background-color: #fff;
        &:hover {
            @include box-shadow(0 0 15px rgba(0, 0, 0, 0.3));
        }
        img.good-preview {
            background: url('/img/no_photo.png') no-repeat center center;
            width: 200px;
            min-height: 200px;
            margin: 0 auto;
            display: block;
            cursor: pointer;
        }
        .description {
            display: none;
        }
        .good-name {
            width: 100%;
            max-width: 200px;
            // height: 20px;
            // overflow: hidden;
            position: relative;
            display: block;
        }
        .price {
            display: block;
            text-align: center;
            margin: 10px auto;
            font-size: $priceFontSize;
            color: #000;
            strong{
                color: $priceColor;
            }
        }
        .discount {
            @extend .price;
            color: #000;
            strong{
                color: $colorGreen;
                font-size: 130%;
            }
        }
        .buy {
            position: absolute;
            text-align: center;
            bottom: 10px;
            left:10px;
        }
        .counter {
            @extend .counter;
            position: absolute;
            right: 40px;
            bottom: 10px;
        }
        .quantity-controls {
            @extend  .quantity-controls;
            position: absolute;
            right: 10px;
            bottom: 10px;
            i {
                position: relative;
                left: 0;
                top: 5px;
                display: block;
                cursor: pointer;
                margin-bottom: 5px;
                padding: 3px 6px;
                height: 20px;
                font-size: 12px;
                color: #777777;
                vertical-align: middle;
                background-color: #fbfbfb;
                background-image: none;
                border: 1px solid #d6d4d4;
            }
        }
    }
}

.counter {
    width: 75px;
    line-height: 20px;
    padding: 0 12px;
    height: 45px;
    display: inline-block;
    text-align: center;
}
.quantity-controls {
    i {
        position: relative;
        left: 0;
        top: 5px;
        display: block;
        cursor: pointer;
        margin-bottom: 5px;
        padding: 3px 6px;
        height: 20px;
        width: 24px;
        font-size: 12px;
        color: #777777;
        vertical-align: middle;
        background-color: #fbfbfb;
        background-image: none;
        border: 1px solid #d6d4d4;
    }
}
.top-block {
    margin: 20px auto;
}

a.addtocart-button {
   background: #adc846;
   width: auto;
   height: auto;
   color: #fff;
   text-align: center;
   // -webkit-transition: all 0.2s linear;
   // transition: all 0.2s linear;
   padding: 6px 30px;
   border-radius: 0;
   position: relative;
   border: 0;
   > span:before {
        color: #fff;
        font-style: normal;
        content: "\f07a ";
        font-size: 31px;
        line-height: 32px;
        font-family: FontAwesome;
        text-align: center;
        display: inline-block;
        position: relative;
        top: 1px;
        margin-right: 0px;
    }
   > span span {
        text-indent: -9999px;
        display: none!important;
    }
}

.basket-view {
    .table {
        td {
            position: relative;
            span.quantity-controls {
                position: absolute;
                top: 4px;
                left: 88px;
            }
            .delete {
                width:40px;
                height: 40px;
                font-size: 0px;
                display: block;
                float:right;
                background: url('/img/delete_Icon.png') no-repeat center center;
                background-size: 100%;
                cursor: pointer;
            }
        }
    }
}

.pagination {
    width: 100%;
    overflow: hidden;
    a {
        display: block;
        float: left;
        margin-left: 5px;
        span {
            display: block;
            @include border-radius(2px);
            padding: 5px;
        }
    }
}

.side-menu {
    list-style-type: none;
    margin-left: -15px;
    border: 1px solid $colorBorder;
    &.isStuck {
        top: 100px !important;
    }
    li {
        border-top: 1px solid $colorBorder;
        a {
            color: $colorBlack;
            padding: 15px 20px;
            display: block;
            font-size: 18px;
            text-decoration: none;
            &:before {
                content: "\f111";
                font-size: 8px;
                line-height: 24px;
                font-family: 'FontAwesome';
                color: $colorGreen;
                margin-right: 10px;
                position: relative;
                top: -2px;
                @include transition(all 0.3s ease-in);

            }
            &:hover, &:focus {
                color: $colorGreen;
                &:before {
                    color: $colorBlack;
                }
            }
        }
        &.active {
            a {
                color: $colorGreen;
                &:before {
                    color: $colorBlack;
                }
            }
        }
        &.all {
            background-color: $colorBlack;
            a {
                color: #fff;
                text-transform: uppercase;
                &:before {
                    display: none;
                }
            }
        }
    }
}

.blockGoods {
    width: 100%;
    clear: both;
    margin-top: 50px;
}

.basket {
    font-size: 19px;
    margin-top: 20px;
    margin-left: 35px;
    position: relative;
    &:before {
        font-family: 'FontAwesome';
        content: "\f07a";
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        color: #a0bb33;
        font-size: 20px;
        margin-right: 10px;
        margin-left: 6px;
        position: relative;
        top: 0px;
    }
    .cart_num {
        .delete {
            font-size: 0;
            background: url('/img/delete_Icon.png') center center no-repeat;
            background-size: 100%;
            display: block;
            float: right;
            width: 35px;
            height: 35px;
            margin-left: 10px;
            cursor: pointer;
        }
        position: relative;
        a {
            text-decoration: none;
            color: $colorBlue;
        }
    }
}

.phone {
    margin-top: 15px;
    position: relative;
    &:before {
        font-family: 'FontAwesome';
        content: "\f095";
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        color: #fa9717;
        font-size: 25px;
        margin-right: 6px;
        margin-left: 6px;
        position: relative;
        top: 0px;
    }
    .phone-number {
        font-size: 18px;
        line-height: 36px;
        color: $colorGreen;
        font-weight: bold;
    }
}

.logo {
    img {
        width: 100%;
    }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: $colorBlue;
    border-color: $colorBlue;
}

.makeBuy {
    > a {
        background-color: $colorGreen;
        color: #fff;
        padding: 20px 10px;
        display: block;
        text-decoration: none;
        &:hover {
            background-color: $colorBlue;
        }
    }
}

#map {
    height: 350px;
}

.camera_wrap {
    margin: 30px 0px;
    min-height:185px;
    .camera_pag {
        .camera_pag_ul{
            width: 30%;
        }
    }
     .camera_caption  {
        height: 100%;
         > div{
             height: 100%;
             padding: 0;
             background: none;
            .camera_caption_desc{
                 padding: 40px;
                 text-align: left;
                 float: right;
                 height: 100%;
                 width: 35%;
                 background: #fa9617;
                 background: rgba(250, 150, 23, 0.89);
            }
        }
    }
    .cameracurrent:hover {
        .txt3{
            color: $colorBlack;
            text-decoration: underline;
        }
    }
    .camera_link  {
        position: relative;
        z-index: 1111;
        float: right;
        width: 35%;
    }
}

.newGoods {
    height: 435px;
    .row {
        .owl-stage-outer {
            padding-top: 20px;
        }
        .good {
            .insideBlock {
                width: 240px;
                height: 390px;
            }
        }
    }
}

.owl-controls {
    width: 100%;
    position: absolute;
    top: -30px;
    .owl-prev {
        width: 38px;
        height: 38px;
        background: #fff;
        position: absolute;
        right: auto;
        right: 56px;
        top: 0;
        margin-top: 0px;
        opacity: 1!important;
        z-index: 111;
        border: 1px solid #ededed;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        font-size: 0px;
        &:hover:before {
            color: $colorOrange;
        }
        &:before {
            color: #babcbf;
            font-style: normal;
            content: "\f053";
            font-size: 15px;
            line-height: 38px;
            font-family: FontAwesome;
            position: absolute;
            right: 50%;
            top: 0px;
            margin-right: -4px;
            text-align: center;
            -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
    }
    .owl-next {
        @extend .owl-prev;
        right: 15px;
        left: auto;
        &:before {
            content: "\f054";
        }
    }
}

@media only screen and (max-width: 768px)  {
    .navigation .container:after,
    .navigation .container:before {
        display: none;
    }
}

@media only screen and (max-width: 478px)  {
    .camera_wrap { display: none !important; }
}
