$colorBlack: #414141;
$colorGray: #f2f2f2;
$colorMain: #fff;
$colorBorder: #d0cfcf;
$colorGreen: #adc846;
$colorOrange: #fdae1b;
$colorBlue: #17a6f5;
$widthGood: 230px;
$heightGood: 330px;
$priceFontSize: 16px;
$priceColor: #17a6f5;
$heightMenu: 70px;
$shadow: 0 0 45px rgba(0, 0, 0, 0.2);

*{
    box-sizing: border-box;
}

@mixin border-radius($radius...){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  border-radius:         $radius;
}
@mixin box-shadow($data...){
    -webkit-box-shadow: $data;
    -moz-box-shadow:    $data;
    -ms-box-shadow:     $data;
    box-shadow:         $data;
}
@mixin transition($transition...){
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

header {
    background-color: $colorGray;
    height: 57px;
    width: 100%;
    overflow: hidden;
}

.wrap {
    overflow: hidden;
    > .container.box-layout {
        padding: 20px 15px;
    }
    .content {
        min-height: 500px;
    }
}
.box-layout {
    @include box-shadow($shadow);
}
.navigation {
    position: relative;
    &.isStuck {
        z-index: 1000;
        top: 0px;
        .container {
            position: absolute;
            @include box-shadow($shadow);
        }
    }
    .container {
        background-color: $colorGreen;
        &:before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: $heightMenu;
            background: $colorGreen url('/img/left-shadow.png') right top no-repeat;
            margin-left: -100%;
            z-index: -1;
        }
        &:after {
            @extend &:before;
            left: auto;
            right: 0;
            background:  $colorGreen url('/img/right-shadow.png') left top no-repeat;
            margin-left: 0;
            margin-right: -100%;
        }
    }
    .navbar {
        margin: 0;
        padding: 0;
        border: 0;
        @include border-radius(none);
        .navbar-nav.nav{
            padding-left: 15px;
            li {
                a {
                    font-size: 24px;
                    color: #fff;
                    line-height: 40px;
                    @include transition(background-color .5s);
                    &:hover, &:focus{
                        background-color: $colorOrange;
                        &:after {
                            top: -11px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    &:after {
                        content: "\f0d7";
                        font-size: 20px;
                        line-height: 28px;
                        font-family: 'FontAwesome';
                        color: #fff;
                        margin: 0 0 0 -10px;
                        position: absolute;
                        left: 50%;
                        top: -22px;
                        opacity: 0;
                        width: 20px;
                        visibility: hidden;
                        @include transition(background-color .5s);
                    }
                }
                &.active {
                    a {
                        background-color: $colorOrange;
                        &:after {
                            top: -11px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    border-color: #fff;
}

.good {
       margin-bottom: 25px;
       padding: 0 !important;
      .insideBlock {
        //width: $widthGood;
        // height: $heightGood;
        // overflow: hidden;
        margin: 0 auto;
        padding: 20px 20px 40px;
        @include box-shadow($shadow);
        position: relative;
        &:hover {
            @include box-shadow(0 0 15px rgba(0, 0, 0, 0.3));
        }
        img.good-preview {
            background: url('/img/no_photo.png') no-repeat center center;
            // width: 200px;
        //    max-width: 400px;
            min-width: 200px;
            min-height: 200px;
            margin: 0 auto;
            display: block;
            cursor: pointer;
        }
        .description {
            display: none;
        }
        .good-name {
            width: 100%;
            // height: 20px;
            // overflow: hidden;
            position: relative;
            display: block;
        }
        .price {
            display: block;
            text-align: center;
            margin: 10px auto;
            font-size: $priceFontSize;
            color: #ccc;
            strong{
                color: $priceColor;
            }
        }
        .buy {
            position: absolute;
            width: 100px;
            text-align: center;
            margin-left: -50px;
            bottom: 10px;
            left: 50%;
            + input {
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 40px;
            }
        }
    }
}

.pagination {
    width: 100%;
    overflow: hidden;
    a {
        display: block;
        float: left;
        margin-left: 5px;
        span {
            display: block;
            @include border-radius(2px);
            padding: 5px;
        }
    }
}

.side-menu {
    list-style-type: none;
    margin-left: -15px;
    border: 1px solid $colorBorder;
    &.isStuck {
        top: 100px !important;
    }
    li {
        border-top: 1px solid $colorBorder;
        a {
            color: $colorBlack;
            padding: 15px 20px;
            display: block;
            font-size: 18px;
            text-decoration: none;
            &:before {
                content: "\f111";
                font-size: 8px;
                line-height: 24px;
                font-family: 'FontAwesome';
                color: $colorGreen;
                margin-right: 10px;
                position: relative;
                top: -2px;
                @include transition(all 0.3s ease-in);

            }
            &:hover, &:focus {
                color: $colorGreen;
                &:before {
                    color: $colorBlack;
                }
            }
        }
    }
}

.blockGoods {
    width: 100%;
    clear: both;
    margin-top: 50px;
}

.basket {
    font-size: 19px;
    margin-top: 20px;
    margin-left: 35px;
    position: relative;
    &:before {
        font-family: 'FontAwesome';
        content: "\f07a";
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        color: #a0bb33;
        font-size: 20px;
        margin-right: 10px;
        margin-left: 6px;
        position: relative;
        top: 0px;
    }
    .cart_num {
        a {
            text-decoration: none;
            color: $colorBlue;
        }
    }
}

.phone {
    margin-top: 15px;
    position: relative;
    &:before {
        font-family: 'FontAwesome';
        content: "\f095";
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        color: #fa9717;
        font-size: 25px;
        margin-right: 6px;
        margin-left: 6px;
        position: relative;
        top: 0px;
    }
    .phone-number {
        font-size: 18px;
        line-height: 36px;
        color: $colorGreen;
        font-weight: bold;
    }
}

.logo {
    img {
        width: 100%;
    }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: $colorBlue;
    border-color: $colorBlue;
}


@media only screen and (max-width: 768px)  {
    .navigation .container:after,
    .navigation .container:before {
        display: none;
    }
}
